

.gray {
  color: #908f8f;
  padding-right: 5px;
}
.blockquote .time {
  color: #ce1a36;
  margin: 0 3px;
}
.blockquote .date {
  padding: 0 3px;
  white-space: nowrap;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: #eceff5 !important;
}